<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">


        <div style=" padding-left: 30px; height:30px">
            <a> <strong class="font-bold"><font size="4" color=""></font></strong> </a>
        </div>
        <div style=" padding-left: 30px; margin-bottom: 0;">
            <a href=""> <strong class="font-bold"><font size="4" color=""> Cable Man 24x7</font></strong> </a>
        </div>


        <ul class="nav" id="side-menu">

            <li class="@Html.IsSelected(controller: "Stock")">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">Stock</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Forms", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "ItemMaster")">Item Master</a></li>
                    @*<li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "ItemIn")">Item In</a></li>*@
                    @*<li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "ItemOut")">Item Out</a></li>*@
                    @*<li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "ItemInward")">Item In Report</a></li>*@
                </ul>
            </li>




            <li class="@Html.IsSelected(action: "Minor7")">
                <a href="@Url.Action("Index", "xyz")"><i class="fa fa-shopping-bag"></i> <span class="nav-label">Blank</span> </a>
            </li>

        </ul>
    </div>
</nav>
